{% extends 'base/_base.html' %}

{% block body_class %}
  bg-materials
{% endblock %}

{% block title %}Профіль{% endblock %}
{% block content %}
<div style="max-width:600px; color:white; margin:0 auto; background:#262626; padding:20px; border-radius:10px; box-shadow:0 2px 8px rgba(0,0,0,0.1);">

    <h2>Профіль</h2>
    <p>Ім'я користувача: {{ user.username }}</p>
    <p>Email: {{ user.email }}</p>

    {% if user.profile.image %}
        <img src="{{ user.profile.image.url }}" alt="Зображення профілю" style="width: 150px; height: 150px; border-radius: 50%;">
    {% endif %}

    <h3>Оновити профіль</h3>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        {% if form.errors %}
            <p style="color: red;">{{ form.errors }}</p>
        {% endif %}
        <button type="submit">Оновити</button>
    </form>
</div>
{% endblock %}