{% extends 'base/_base.html' %}

{% block body_class %}
  bg-materials
{% endblock %}



{% block title %}Оголошення{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>💬 Оголошення</h2>

    <!-- Кнопка создания новой темы -->
    {% if user.is_staff %}
        <a href="{% url 'advert:create' %}"
           class="btn btn-success mb-3">➕ Додати оголошення</a>
    {% endif %}

    <ul class="list-group">
    {% for advertisement in advert %}
        <li class="list-group-item">
            <h3>📌 {{ advertisement.title }} </h3>
            {{ advertisement.description }}
        </li>
    {% empty %}
        <li class="list-group-item">Тем поки що немає</li>
    {% endfor %}
    </ul>
</div>
{% endblock %}