{% extends 'base/_base.html' %}

{% block body_class %}
  bg-materials
{% endblock %}



{% block title %}Оголошення{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>💬 Оголошення</h2>

    <!-- Кнопка создания новой темы -->
    {% if user.is_staff %}
        <a href="{% url 'advert:create' %}"
           class="btn btn-success mb-3">➕ Додати оголошення</a>
    {% endif %}

    <ul class="list-group">
    {% for advertisement in advertisements %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a href="{% url 'forum:thread_detail' topic.id %}" class="text-decoration-none">
                📌 {{ advertisement.title }}
            </a>


            <!-- Кнопки удаления темы для staff -->
            {% if user.is_staff %}
                <form method="post" action="{% url 'advert:delete' advert.id %}" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger btn-sm">🗑️ Видалити</button>
                </form>
            {% endif %}
        </li>
    {% empty %}
        <li class="list-group-item">Тем поки що немає</li>
    {% endfor %}
    </ul>
</div>
{% endblock %}