{% extends "base/_base.html" %}

{% block content %}
<h1>Создать новый опрос</h1>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}

    <h3>Варианты ответов</h3>
    {{ formset.management_form }}
    <div id="choices">
        {% for form in formset %}
            <div class="choice">
                {{ form.as_p }}
            </div>
        {% endfor %}
    </div>

    <button type="button" onclick="addChoice()">Добавить ещё вариант</button><br><br>
    <button type="submit">Создать опрос</button>
</form>

<script>
let choiceCount = {{ formset.total_form_count|default:1 }};

function addChoice() {
    choiceCount += 1;
    const div = document.getElementById('choices');

    const newChoice = document.createElement('div');
    newChoice.className = 'choice';

    newChoice.innerHTML = `
        <p>
            <label for="id_choice_set-${choiceCount}-text">Вариант ${choiceCount}:</label>
            <input type="text" name="choices-${choiceCount}-text" required id="id_choice_set-${choiceCount}-text">
        </p>
    `;
    div.appendChild(newChoice);

    // Обновляем TOTAL_FORMS
    document.getElementById('id_choices-TOTAL_FORMS').value = choiceCount + 1;
}
</script>
{% endblock %}
