{% extends "base/_base.html" %}
{% load static %}

{% block title %}Создать опрос{% endblock %}

{% block content %}
<h1>Создать новый опрос</h1>

<form method="post" id="poll-form">
    {% csrf_token %}
    {{ form.as_p }}

    <h3>Варианты ответов</h3>
    <div id="choices-container">
        {% for choice_form in formset.forms %}
            <div class="choice-form">
                {{ form.text.label_tag }} {{ form.text }}
                {{ form.DELETE }}
            </div>
        {% endfor %}
    </div>

    {{ formset.management_form }}

    <button type="button" id="add-choice-btn">➕ Добавить вариант</button>
    <br><br>
    <button type="submit">Сохранить опрос</button>
</form>

<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script>
$(document).ready(function(){
    // Корректно получаем TOTAL_FORMS
    let totalForms = parseInt($('#id_choice_set-TOTAL_FORMS').val()) || 0;

    $('#add-choice-btn').click(function(){
        $.get("{% url 'add_choice_form' %}", {form_index: totalForms})
        .done(function(data){
            $('#choices-container').append(data.html);
            totalForms++;
            $('#id_choice_set-TOTAL_FORMS').val(totalForms);
        })
        .fail(function(){
            alert('Ошибка при добавлении нового варианта. Попробуйте перезагрузить страницу.');
        });
    });
});
</script>
{% endblock %}
