{% extends "base/_base.html" %}

{% block body_class %}
  bg-materials
{% endblock %}

{% block title %} Редагувати варіант{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Редагувати варіанти опитування</h2>

    <form method="post" class="mt-3">
        {% csrf_token %}
        <div class="mb-3">
            {{ form.as_p }}
        </div>
        <button type="submit" class="btn btn-primary">Зберегти</button>
        <a href="{% url 'poll_detail' poll_id %}" class="btn btn-secondary ms-2">Назад до опитування</a>
    </form>
</div>
{% endblock %}