{% extends "base/_base.html" %}

{% block body_class %}
  bg-materials
{% endblock %}

{% block title %}Створити опитування{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-3">Створити опитування</h2>

    <form method="post">
        {% csrf_token %}

        <div class="mb-3">
            {{ form.title.label_tag }}
            {{ form.title|add_class:"form-control" }}
        </div>

        <div class="form-check mb-3">
            {{ form.allow_multiple }}
            {{ form.allow_multiple.label_tag }}
        </div>

        <h4>Варіанти:</h4>
        <div id="choices">
            <input type="text" name="choice_text" class="form-control mb-2" placeholder="Введіть варіант">
        </div>
        <button type="button" onclick="addChoice()" class="btn btn-secondary mb-3">Добавити варіант</button>

        <div>
            <input type="submit" class="btn btn-primary" value="Створити опитування">
        </div>
    </form>
</div>

<script>
function addChoice() {
    let div = document.getElementById('choices');
    let input = document.createElement('input');
    input.type = 'text';
    input.name = 'choice_text';
    input.placeholder = 'Введите вариант';
    input.className = 'form-control mb-2';
    div.appendChild(input);
}
</script>
{% endblock %}