{% extends 'base/_base.html' %}

{% block body_class %}
  bg-materials
{% endblock %}

{% block content %}
<h1>{% if form.instance.pk %}Редагувати{% else %}Додати{% endif %} матеріал</h1>
<div style="max-width:600px; color:white; margin:0 auto; background:#262626; padding:20px; border-radius:10px; box-shadow:0 2px 8px rgba(0,0,0,0.1);">

  <h2 style="text-align:center; margin-bottom:20px;">📘 Додати матеріал</h2>

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit"
                style="padding:10px 18px; background-color:#28a745; color:white; border:none; border-radius:6px; cursor:pointer; font-size:16px;">💾 Зберегти
    </button>
  </form>
{% endblock %}