{% extends 'base/_base.html' %}

{% block body_class %}
  bg-materials
{% endblock %}

{% block content %}
<div style="max-width:600px; margin:0 auto; color: #555; padding:20px; background:#fefefe; border-radius:10px; box-shadow:0 2px 12px rgba(0,0,0,0.1);">
    <h2 style="margin-bottom:15px;">📝 Створити нову тему</h2>

    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}

      <button type="submit"
              style="padding:8px 14px; background-color:#4CAF50; color:white; border:none; border-radius:5px; cursor:pointer;">
        🚀 Опублікувати
      </button>
    </form>
</div>
{% endblock %}